# Requirements

In [3]:
import sddk
import json
import re
import pandas as pd
import geopandas as gpd
import nltk
pd.options.display.max_columns = 1000 # to see all columns
import warnings
warnings.filterwarnings('ignore')

# Loading datasets

In [31]:
LIRE = gpd.read_file("https://zenodo.org/record/5074774/files/LIREg.geojson?download=1", driver="GeoJSON")

In [32]:
LIRE.shape

(137305, 112)

#Â Function to extract occupations

In [33]:
deities_csv = pd.read_csv("../data/deities_decline.csv").reset_index()
deities_csv

,index,nom_sg,gen_sg,dat_sg,acc_sg,abl_sg,voc_sg,special_suffix1,special_suffix2,special_suffix3
0,Asclepius,Asclepii,Asclepio,Asclepium,Asclepio,Asclepie,NaN,NaN,NaN,NaN
1,Aesculapius,Aesculapii,Aesculapio,Aesculapium,Aesculapio,Aesculapie,Aesculapi,Aesculapem,Aesculapeo,NaN
2,Esculapius,Esculapii,Esculapio,Esculapium,Esculapio,Esculapie,NaN,NaN,NaN,NaN
3,Asclepios,Asclepii,Asclepio,Asclepium,Asclepio,Asclepie,NaN,NaN,NaN,NaN
4,Apollo,Apollonis,Apolloni,Apollonem,Apollone,Apollo,NaN,NaN,NaN,NaN
5,Apollon,Apollonis,Apolloni,Apollonem,Apollone,Apollon,NaN,NaN,NaN,NaN
6,Apolon,Apolonis,Apoloni,Apolonem,Apolone,Apolon,NaN,NaN,NaN,NaN
7,Apolin,Apolinis,Apolini,Apolinem,Apoline,Apolin,NaN,NaN,NaN,NaN
8,Apollin,Apollinis,Apollini,Apollinem,Apolline,Apollin,NaN,NaN,NaN,NaN
9,Iupiter Optimus Maximus,Iovis Optimi Maximi,Iovi Optimo Maximo,Iovem Optimum Maximum,Iove Optimo Maximo,Iupiter Optimus Maximus,NaN,NaN,NaN,NaN
10,Iuppiter Optimus Maximus,Iovis Optimi Maximi,Iovi Optimo Maximo,Iovem Optimum Maximum,Iove Optimo Maximo,Iuppiter Optimus Maximus,NaN,NaN,NaN,NaN
11,Jupiter Optimus Maximus,Iovis Optimi Maximi,Iovi Optimo Maximo,Iovem Optimum Maximum,Iove Optimo Maximo,Jupiter Optimus Maximus,NaN,NaN,NaN,NaN
12,Iovus Optimus Maximus,Iovis Optimi Maximi,Iovi Optimo Maximo,Iovem Optimum Maximum,Iove Optimo Maximo,Iovus Optimus Maximus,NaN,NaN,NaN,NaN

In [34]:
deities_dict = {}

asclep = []
for n in range(4):
    asclep.extend([el for el in deities_csv.loc[n].tolist() if isinstance(el, str)])
deities_dict["asclep"] = list(set(asclep))

apollo = []
for n in range(4,9):
    apollo.extend([el for el in deities_csv.loc[n].tolist() if isinstance(el, str)])
deities_dict["apollo"] = list(set(apollo))

jupiter = []
for n in range(9,13):
    jupiter.extend([el for el in deities_csv.loc[n].tolist() if isinstance(el, str)])
deities_dict["jupiter"] = list(set(jupiter))

In [35]:
deities_dict["apollo"]

['Apoloni',
 'Apolin',
 'Apolonis',
 'Apolon',
 'Apollinis',
 'Apolini',
 'Apoline',
 'Apolonem',
 'Apolinem',
 'Apolloni',
 'Apolinis',
 'Apollone',
 'Apollin',
 'Apollini',
 'Apollo',
 'Apollonem',
 'Apollonis',
 'Apollon',
 'Apolline',
 'Apollinem',
 'Apolone']

In [36]:
def eval_list(people_list):
    try: return eval(people_list)
    except: return []
LIRE["people"] = LIRE["people"].apply(eval_list)

In [37]:
def test_extract(text):
    try:
        if re.search("(\W|^)Apollini(\W|$)", text):
            return True
        else:
            return False
    except:
        return False
len(LIRE[LIRE["clean_text_interpretive_word"].apply(test_extract)])

361

In [38]:
def extract_deity(inscription_text, deity):
    if not isinstance(inscription_text, str): # if not valid string
        inscription_text = ""
    to_return = False
    for deity_morph in deities_dict[deity]:
        if deity_morph in inscription_text: # first check it this way, otherwise skip
            if re.search("(\W|^)" + deity_morph + "(\W|$)", inscription_text):
                to_return = True
                break
    return to_return

In [39]:
LIRE["asclepius"] = LIRE["clean_text_interpretive_word"].apply(extract_deity, deity="asclep")
LIRE["apollo"] = LIRE["clean_text_interpretive_word"].apply(extract_deity, deity="apollo")
LIRE["jupiter"] = LIRE["clean_text_interpretive_word"].apply(extract_deity, deity="jupiter")

In [40]:
print(len(LIRE[LIRE["asclepius"]]))
print(len(LIRE[LIRE["apollo"]]))
print(len(LIRE[LIRE["jupiter"]]))

238
495
2868

ok, it is not bad, previously we had 156, 306, and 2598 in EDH and 90, 205, and 391 in EDCS.

In [41]:
# however, we have to check the people attribute...

def check_name_in_people(people_list, name):
    try: return any([el for el in people_list if re.search("(\W|^){0}(\W|$)".format(name), el["nomen"]) or re.search("(\W|^){0}(\W|$)".format(name), el["cognomen"])])
    except: False

name = "Asclepius"
LIRE["asclepius_people"] = LIRE["people"].apply(lambda x: check_name_in_people(x, name))
name = "Apollo"
LIRE["apollo_people"] = LIRE["people"].apply(lambda x: check_name_in_people(x, name))

In [42]:
def check_people(deity , people_deity):
    if deity: 
        if people_deity:
            return False
        else:
            return True
    else:
        return False

LIRE["asclepius"] = LIRE.apply(lambda row: check_people(row["asclepius"], row["asclepius_people"]), axis=1)
LIRE["apollo"] = LIRE.apply(lambda row: check_people(row["apollo"], row["apollo_people"]), axis=1)

In [43]:
len(LIRE[LIRE["asclepius"]])

230

In [44]:
len(LIRE[LIRE["apollo"]])

491

In [45]:
print(len(LIRE[LIRE["asclepius"]]))
print(len(LIRE[LIRE["apollo"]]))
print(len(LIRE[LIRE["jupiter"]]))

230
491
2868

In [46]:
LIRE.drop(["asclepius_people", "apollo_people"], axis=1, inplace=True)

In [47]:
def list_to_str(people_list):
    try: return str(people_list)
    except: return ""
LIRE["people"] = LIRE["people"].apply(list_to_str)

In [48]:
LIRE.to_file("../data/large_files/LIRE_deities.geojson", driver="GeoJSON")

# Minor explorations

In [49]:
dict(LIRE[LIRE["asclepius"]].groupby("type_of_inscription_auto").size())

{'building/dedicatory inscription': 10,
 'defixio': 1,
 'epitaph': 21,
 'honorific inscription': 2,
 'owner/artist inscription': 1,
 'votive inscription': 179}

In [50]:
deities_inscr_types = [dict(LIRE[LIRE["asclepius"]].groupby("type_of_inscription_auto").size()),
dict(LIRE[LIRE["apollo"]].groupby("type_of_inscription_auto").size()),
dict(LIRE[LIRE["jupiter"]].groupby("type_of_inscription_auto").size())]

In [51]:
deities_inscr_types_df = pd.DataFrame(deities_inscr_types)
deities_inscr_types_df.index = ["asclepius", "apollo", "jupiter"]
deities_inscr_types_df

,building/dedicatory inscription,defixio,epitaph,honorific inscription,owner/artist inscription,votive inscription,acclamation,label,list,military diploma,public legal inscription,mile-/leaguestone
asclepius,10,1.0,21,2,1,179,NaN,NaN,NaN,NaN,NaN,NaN
apollo,12,NaN,46,12,2,355,1.0,2.0,2.0,1.0,6.0,NaN
jupiter,47,1.0,3,6,1,2756,NaN,1.0,1.0,1.0,1.0,1.0